<html>
<head>
    <title>Docs Tutorial</title>
</head>
<script src="/htmx.min.js"></script>
<body>
    <h1>Docs Tutorial</h1>
    <p>This is the Docs Tutorial page.</p>
    <div id="parent-div">
        <p>Click the button below to see the magic happen!</p>
    </div>
    <button hx-post="/clicked"
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="outerHTML">
        Click Me!
    </button>

    <div hx-post="/mouse_entered" hx-trigger="mouseenter delay:5s">
        <p>[Here Mouse, Mouse!]</p>
    </div>

    <div hx-post="/mouse_entered" hx-trigger="every 1s">
        <p>[Here Mouse, Mouse!]</p>
    </div>

    <div hx-get="/clicked" hx-trigger="click[shiftKey]">
        <p>Shift+Click Me</p>
    </div>
</body>
</html>